[submodule "YCSB-LH"]
	path = YCSB-LH
	url = https://github.com/goetztj/YCSB-LH
[submodule "benchbase"]
	path = benchbase
	url = https://github.com/goetztj/benchbase.git
[submodule "trino"]
	path = trino
	url = https://github.com/goetztj/trino.git
[submodule "LV/src/YCSB-C"]
	path = LV/src/YCSB-C
	url = https://github.com/basicthinker/YCSB-C.git
[submodule "LV/src/rapidjson"]
	path = LV/src/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "LV/src/CAB/cab"]
	path = LV/src/CAB/cab
	url = https://github.com/alexandervanrenen/cab.git
